doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Death by Zip
    link(rel='stylesheet', href='/style.css')
  body
    h1 Death by Zip Code
    label Pick a Year
    select#year
      - for(var i = 1999; i < 2013; i++)
        option= i
    //- button#get-data Get Data
    
    label Pick a Type
    select#type
      - var illness = [{id:'htd', name:'Heart Disease'}, {id:'can', name:'Cancer'}, {id:'stk', name:'Stroke'}, {id:'cld', name:'Chronic Liver Disease'}, {id:'inj', name:'Unintentional Injury'}, {id:'pnf', name:'Pneumonia and Influenza'}, {id:'dia', name:'Diabetes'}, {id:'alz', name:'Alzheimer Disease'}, {id:'liv', name:'Chronic Liver Disease'}, {id:'sui', name:'Suicides'}, {id:'hyp', name:'Hypertension Disease'}, {id:'hom', name:'Homocides'}, {id:'oth', name:'Other Causes'}]
      - each o in illness
        option(value = o.id)= o.name
    button#get-type Get Data
    
    script(src='/vendor/lodash/lodash.js')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
